{% extends "_base.html" %}
{% load static %}
{% block title %}Subtraction{% endblock %}
{% block main %}
{% block javascript %}
<script>
let num1 = (randInt(5,9));
let num2 = (randInt(1,4));
let solution = num1 - num2; //operator
let op = "Subtraction"; //operator
let stopClock = 0;
let playGame = 'true';
let keepScore = 0;
let addScore = {};
let addScoreM = {};
let val2 = 0;
let val1 = '';
let val01 = '';
let formVal = '';
let i = '';
function randInt(low, high) {
   const rndDec = Math.random();
   const rndInt = Math.floor(rndDec * (high - low + 1) + low);
   return rndInt;
}
function timer() {
   const timer = setInterval(timeKeep, 1000);
   if(playGame === 'false') {
      clearInterval(timer);
    }
function timeKeep() {
   if (stopClock < '30') {
      stopClock = stopClock + 1;
      let time = document.getElementById('time');
      let time2 = document.getElementById('time2');
      time.innerHTML = stopClock + ' seconds';
      time2.innerHTML = stopClock + ' seconds';
      let problem = document.getElementById('display');
      let problem2 = document.getElementById('display2');
      //operator section
      problem.innerText = num1 + " - " + num2;
      problem2.innerText = num1 + " - " + num2;
      let solution = num1 + num2;
      //
      let score = document.getElementById('score');
      let score2 = document.getElementById('score2');
      score.innerHTML = keepScore;
      score2.innerHTML = keepScore;
      checkEntry();
    } else {
       playGame = 'false'
       endGame()
    }
  }
}
function checkEntry(){
   val1 = entry.value;
   val2 = entry2.value;
   if(val2 == solution){
      keepScore = keepScore + 1;
      addScore = keepScore;
      addScoreM = keepScore;
      let score = document.getElementById('score');
      let score2 = document.getElementById('score2');
      score.innerHTML = keepScore;
      score2.innerHTML = keepScore;
      gamePlay();
    }
    if(val1 == solution || formVal == solution){
       entry.value = val1;
       entry2.value = val1;
       keepScore = keepScore + 1;
       addScore = keepScore;
       addScoreM = keepScore;
       let score = document.getElementById('score');
       let score2 = document.getElementById('score2');
       score.innerHTML = keepScore;
       score2.innerHTML = keepScore;
       gamePlay();
    }
}
function gamePlay() {
   num1 = (randInt(5,9));
   num2 = (randInt(1,4));
   solution = num1 - num2;  //operator
   problem = document.getElementById("display");
   problem2 = document.getElementById("display2");
   problem.innerText = num1 + " - " + num2;  //operator
   problem2.innerText = num1 + " - " + num2;  //operator
   document.getElementById("entry").value = ' ';
   document.getElementById("entry").focus();
   document.getElementById("entry2").value = ' ';
   document.getElementById("entry2").focus();
   val1 = '';
   val01 = '';
   formVal = '';
   entry.value = '';
}
function endGame() {
   sessionStorage.setItem("addScore", addScore);
   sessionStorage.setItem("addScoreM", addScore);
   sessionStorage.setItem("op", op);
   window.location.assign("{% url 'mathfacts:final' %}");
}
function btnValue(e) {
   if (e.currentTarget.id === 'clear'){
      val1 = '';
      val01 = '';
      formVal = '';
      entry.value = '';
      i = '';
   }
   else if (i === ''){
      val1 = e.currentTarget.id;
      entry.value = val1;
      i++
    }
    else if (i === 1){
       val01 = e.currentTarget.id;
       formVal = val1.concat(val01);
       entry.value = formVal;
       i = '';
    }
}
function btnValue2(e) {
   currentTarget = e.currentTarget.id.slice(0,1)
   if (currentTarget === 'c'){
      val1 = '';
      val01 = '';
      formVal = '';
      entry2.value = '';
      i = '';
    }
    else if (i === ''){
       val1 = currentTarget;
       entry2.value = val1;
       i++
    }
    else if (i === 1){
       val01 = currentTarget;
       formVal = val1.concat(val01);
       entry2.value = formVal;
       i = '';
    }
}
window.addEventListener('load', function() {
  const answer = document.getElementById('entry');
  const answer2 = document.getElementById('entry2');
  const time = document.getElementById('time');
  const time2 = document.getElementById('time2');
  const score = document.getElementById('score');
  const score2 = document.getElementById('score2');
  const display = document.getElementById('display');
  const display2 = document.getElementById('display2');
  const stage = document.getElementById('stage');
  const stage2 = document.getElementById('stage2');
  const btn0 = document.getElementById('0');
  const btn1 = document.getElementById('1');
  const btn2 = document.getElementById('2');
  const btn3 = document.getElementById('3');
  const btn4 = document.getElementById('4');
  const btn5 = document.getElementById('5');
  const btn6 = document.getElementById('6');
  const btn7 = document.getElementById('7');
  const btn8 = document.getElementById('8');
  const btn9 = document.getElementById('9');
  const btnClear = document.getElementById('clear');
  btn0.addEventListener('click', btnValue);
  btn1.addEventListener('click', btnValue);
  btn2.addEventListener('click', btnValue);
  btn3.addEventListener('click', btnValue);
  btn4.addEventListener('click', btnValue);
  btn5.addEventListener('click', btnValue);
  btn6.addEventListener('click', btnValue);
  btn7.addEventListener('click', btnValue);
  btn8.addEventListener('click', btnValue);
  btn9.addEventListener('click', btnValue);
  btnClear.addEventListener('click', btnValue);
  const btn0m = document.getElementById('0m');
  const btn1m = document.getElementById('1m');
  const btn2m = document.getElementById('2m');
  const btn3m = document.getElementById('3m');
  const btn4m = document.getElementById('4m');
  const btn5m = document.getElementById('5m');
  const btn6m = document.getElementById('6m');
  const btn7m = document.getElementById('7m');
  const btn8m = document.getElementById('8m');
  const btn9m = document.getElementById('9m');
  const btnCm = document.getElementById('cm');
  btn0m.addEventListener('click', btnValue2);
  btn1m.addEventListener('click', btnValue2);
  btn2m.addEventListener('click', btnValue2);
  btn3m.addEventListener('click', btnValue2);
  btn4m.addEventListener('click', btnValue2);
  btn5m.addEventListener('click', btnValue2);
  btn6m.addEventListener('click', btnValue2);
  btn7m.addEventListener('click', btnValue2);
  btn8m.addEventListener('click', btnValue2);
  btn9m.addEventListener('click', btnValue2);
  btnCm.addEventListener('click', btnValue2);
  document.addEventListener("keypress", function(e) {
  if (e.keyCode === 13) {
    event.preventDefault();
    checkEntry();
  }
});
  timer();
  timeKeep();
  });
 </script>
{% endblock %}
<link rel="stylesheet" href="{% static 'css/mfs.css' %}">
<body id="page-top" class=".backgroundimg" style="background-image: url('{% static 'images/blackboard.jpg' %}');">
<main class="d-none d-lg-block">
  <div id=containMath class="mt-5">
     <form id="formMath" class="container-fluid justify-content-center" novalidate>
        <h1 id=math>Math Facts Practice</h1>
        <h3>Subtraction</h3>
        <P id="stage"></P>
           <p id="display"> Equation</p>
           <input id="entry" placeholder="answer">
              <div id="calcShape" class="container-fluid">
                 <div id="containButtons">
                    <div class="buttons" id="buttons">
                    <button type="button" id="1" >1</button>
                    <button type="button" id="2" >2</button>
                    <button type="button" id="3" >3</button>

                    <button type="button" id="4" >4</button>
                    <button type="button" id="5" >5</button>
                    <button type="button" id="6" >6</button>

                    <button type="button" id="7" >7</button>
                    <button type="button" id="8" >8</button>
                    <button type="button" id="9" >9</button>

                    <button type="button" id="0" >0</button>
                    <button type="button" id="clear" >CLEAR</button>
                    </div>
                 </div>
              </div>
        <div id="scoreBlock" class="row justify-content-center mt-2"><label for="entry">Score: </label>
        <p id="score" class="ml-2"></p></div><br>
        <div id=timeBlock class="row justify-content-center"><label for="entry">Time:</label>
        <p id="time" class="ml-2"></p></div>
     </form>
  </div>
</main>
<!--Mobile size viewport-->
<div id="formMath4" class="container-fluid d-lg-none d-md-block">
  <div id="formMath4" class="container-fluid">
    <div id="formMath2" class="mt-1">
      <form class="container justify-content-center" novalidate>
        <h4 id="math2">Math Facts Practice</h4>
        <h5>Subtraction</h5>
        <P id="stage2"></p>
            <p id="display2" class="row justify-content-center"> Equation</p>
            <div class="row justify-content-center">
           <input id="entry2" placeholder="answer">
            </div>
            <div id="calcShape2" class="container-fluid">
           <div id="containButtons2">
                 <div class="buttons2" id="buttons2">
                 <button type="button" id="1m" >1</button>
                 <button type="button" id="2m" >2</button>
                 <button type="button" id="3m" >3</button>

                 <button type="button" id="4m" >4</button>
                 <button type="button" id="5m" >5</button>
                 <button type="button" id="6m" >6</button>

                 <button type="button" id="7m" >7</button>
                 <button type="button" id="8m" >8</button>
                 <button type="button" id="9m" >9</button>

                 <button type="button" id="0m" >0</button>
                 <button type="button" id="cm" >CLEAR</button>
                 </div>
           </div>
           </div>
           <div id="scoreBlock2" class="row justify-content-center mt-1"><label for="entry">Score: </label>
           <p id="score2" class="ml-3"></p></div>
           <div id="timeBlock2" class="row justify-content-center"><label for="entry">Time:</label>
           <p id="time2" class="ml-3"></p></div>
      </form>
   </div>
  </div>
 </div>
</div>
{% endblock %}