{% extends "_base.html" %}
{% load static %}

{% block title %}About Us{% endblock %}
{% block main %}
<script src="{% static 'javascript/about_us.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
<body id="page-top" class=".backgroundimg" style="background-image: url('{% static 'images/developer-team.jpg' %}'); background-repeat: no-repeat;background-size: cover;">
<main>
  <div id="quote" class="mt-5">
    <h5>How do our customers feel about us?</h5>
    <p id="quotesection">Quote Section</p>
 </div>
  <div id="backgroundUs">
    <div id="containerUs">
     <div id="about-us">
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
       nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
       reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
       Excepteur sint occaecat cupidatat non proident, officia anim id est laborum.</div>
     </div>
     </div>
     </div>
</main>
</body>

{% endblock %}