{% extends "_base.html" %}
{% load static %}
{% block title %}Congratulations{% endblock %}
{% block main %}
{% block javascript %}
<script>
highScore = 10;
window.addEventListener('load', function() {
let addScore = sessionStorage.getItem("addScore");
let addScoreM = sessionStorage.getItem("addScoreM");
if (isNaN(addScore)) {
   let score = 0;
   score.innerText = addScore;
} else {
   if (addScore > highScore) {
      let display2 = document.getElementById('display2');
      display2.innerText = 'Congratulations!\nYou beat the high score!!!';
      let score = document.getElementById('score');;
      score.innerText = addScore;
   } else {
      let score = document.getElementById('score');
      score.innerText = addScore;
   }
}
if (isNaN(addScoreM)) {
   let scoreM = 0;
   scoreM.innerText = addScoreM;
} else {
  if (addScoreM > highScore) {
      let display2M = document.getElementById('display2M');
      display2M.innerText = 'Congratulations!\nYou beat the high score!!!';
      let scoreM = document.getElementById('scoreM');
      scoreM.innerText = addScoreM;
  } else {
      let scoreM = document.getElementById('scoreM');
      scoreM.innerText = addScoreM;
   }
  }
});
</script>
{% endblock %}
<link rel="stylesheet" href="{% static 'css/ah_final.css' %}">
<body id="page-top" class=".backgroundimg" style="background-image: url('{% static 'images/hug.jpg' %}');/
background-repeat: no-repeat;background-size: cover;">
<main class="container-fluid">
   <div class="text-center">
      <div id="final" class="container-fluid d-none d-md-block offset-md-3">
         <div><h1>Anagram Hunt</h1></div>
            <div id="stage">
               <p id="display">Times up!</p><br>
               <h3 id="display2">Your final score is:</h3><br>
               <p id="score">0</p><br>
            </div>
            <div  class="row justify-content-center">
               <a id="button" class="btn btn-default mb-3" href="{% url 'pages:ah_gameplay' %}">Play Again</a>
               <a id="button" class="btn btn-default" href="{% url 'pages:anagramhunt' %}">Back to Start Screen</a>
            </div>
           </div>
         </div>
      </div>
   </div>
<!--Mobile size viewport-->
   <div id="finalM" class="d-xs-block d-md-none justify-content-center mt-5">
      <div id="shapeM" class="container-fluid d-xs-block d-md-none mt-3 text-center">
               <div><h1>Anagram Hunt</h1></div>
                  <div id="stageM">
                     <p id="displayM">Times up!</p><br>
                     <h3 id="display2M">Your final score is:</h3><br>
                     <p id="scoreM">0</p><br>
                  </div>
                  <div  class="row justify-content-center">
                     <a id="button" class="btn btn-default mb-3" href="{% url 'pages:ah_gameplay' %}">Play Again</a>
                     <a id="button" class="btn btn-default" href="{% url 'pages:anagramhunt' %}">Back to Start Screen</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
  </div>
</body>
</main>
</html>

{% endblock %}